<div class="container pt-5">
    <section class="pt-5 pb-5">
        <div class="container">
            <div class="col-lg-12 col-md-12 col-12">
                <h3 class="display-5 mb-2 text-center font-weight-bold">Shopping Cart</h3>
                <p class="mb-5 text-center"> <span id="cartCount" class="text-info font-weight-bold">3</span> items in your cart </p>
            </div>

            <div class="row w-100">
                <table id="shoppingCart" class="table table-condensed table-responsive">
                    <thead>
                        <tr>
                            <th style="width:60%">Product</th>
                            <th style="width:12%">Price</th>
                            <th style="width:15%">Quantity</th>
                            <th style="width:16%"></th>
                        </tr>
                    </thead>
                    <tbody id="cartItemHolder"></tbody>
                </table>

            </div>

            <div class="row w-100 d-flex justify-content-end">
                <div class="text-right">
                    <h4>Subtotal:</h4>
                    <h1>$<span id="cartSubtotal">0</span></h1>
                </div>
            </div>

            <div>
                <div class="row mt-4 d-flex align-items-center">
                    <div class="col-sm-6 order-md-2 text-right">
                        <a id="checkout" href="/order/checkout" class="btn btn-primary mb-4 btn-lg pl-5 pr-5">Checkout</a>
                    </div>
                    <div class="col-sm-6 mb-3 mb-m-1 order-md-1 text-md-left">
                        <a id="continueShopping" href="/">Continue Shopping</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id="cartItemContainer"></div>

    <script>
        let subtotal = 0;
        let cartCount = 0;
        let items = {};
        let nochanges = true;
        let processedOrders = localStorage.processedOrders ? localStorage.getItem("processedOrders").split(",") : [];

        $.ajax({
            url: "/cart/all",
            method: "GET",
            success: function (result, status) {
                result.forEach(function (element) {
                    addCartItem(element);
                });
            }
        }); //ajax

        function addCartItem(element) {
            img = element.imgId ? "https://drive.google.com/uc?export=download&id=" + element.imgId : "/images/Empty.png";
            cost = round((element.cost * parseFloat(element.amount)), 2);
            $("#cartItemHolder").append(
                `
                            <tr id="cartItem${element.cartId}">
                                <td>
                                    <div class="row">
                                        <div class="col-md-3 text-left">
                                            <img src="${img}" alt="Picture of ${element.name}" class="img-fluid rounded mb-2 shadow ">
                                                </div>
                                            <div class="col-md-9 text-left mt-sm-2">
                                                <h4><strong>${element.name}</strong></h4>
                                                <p class="font-weight-light">${element.brand}</p>
                                            </div>
                                        </div>
                                        </td>
                                    <td> $<span id="totalCost${element.cartId}">${cost}</span></td>
                                    <td>
                                        <input id="amount${element.cartId}" type="text" class="form-control form-control-lg text-center amount" value="${element.amount}", maxlength=4>
                                    </td>
                                    <td class="actions" data-th="">
                                        <div class="text-right">
                                            <button id="deleteCart${element.cartId}" class="btn btn-white border-secondary bg-white btn-md mb-2">X</button>
                                        </div>
                                    </td>
                            </tr>
                            `
            );

            items[element.cartId] = element;
            $("#cartCount").text(++cartCount);

            subtotal += round(parseFloat(element.cost) * parseFloat(element.amount), 2);
            $("#cartSubtotal").text(subtotal);

            // update amount on change
            $(`#amount${element.cartId}`).on('keyup', function () {
                nochanges = false;
                subtotal -= $(`#totalCost${element.cartId}`).text() ? round(parseFloat($(`#totalCost${element.cartId}`).text()), 2) : 0;
                $(`#totalCost${element.cartId}`).text((round(element.cost * (this.value ? parseFloat(this.value) : 0), 2) + ""));
                subtotal += $(`#totalCost${element.cartId}`).text() ? round(parseFloat($(`#totalCost${element.cartId}`).text()), 2) : 0;
                $("#cartSubtotal").text(round(subtotal, 2));
            });

            // remove an item from the cart and substract its cost
            $(`#deleteCart${element.cartId}`).on('click', function () {
                nochanges = false;
                subtotal -= $(`#totalCost${element.cartId}`).text() ? round(parseFloat($(`#totalCost${element.cartId}`).text()), 2) : 0;
                $(`#cartItem${element.cartId}`).remove();
                removeCartItem(element.cartId);
                delete items[element.cartId];
                $("#cartSubtotal").text(round(subtotal, 2));
                $("#cartCount").text(--cartCount);
            });

            $(`#amount${element.cartId}`).on('keypress', validateNumber);
        }

        // rounds off rounding errors
        function round(n, d) {
            if (n < 0.00000001) {
                return 0;
            }

            return Number(Math.round(n + "e" + d) + "e-" + d);

        }

        /**
         * checks if the input is a number, if not it prevents the key from being entered.
         * @param event
         */
        function validateNumber(event) {
            let key = event.which || event.charCode || event.keyCode || 0;

            // allows input from left arrow, right arrow, and delete keys.
            if (key == 8 || key == 37 || key == 39) {
                return true;
            } else if (key < 48 || key > 57) { // does not allow anything that is not a number
                return false;
            }
            return true;
        };

        $("#continueShopping").on('click', function (event) {
            Object.keys(items).forEach(function (key) {
                let item = items[key];
                updateCartItem(item.cartId, $(`#amount${item.cartId}`).val());
            });
            nochanges = true;
        });

        // alert the user if any cart item has invalid amounts.
        $("#checkout").on('click', function (e) {
            event.preventDefault();
            let failedOrder = false;

            Object.keys(items).forEach(function (key) {
                let item = items[key];
                makeOrder(item.productId, $(`#amount${item.cartId}`).val()).then((result) => {

                    if (result > 0) {
                        subtotal -= $(`#totalCost${item.cartId}`).text() ? round(parseFloat($(`#totalCost${item.cartId}`).text()), 2) : 0;
                        $("#cartSubtotal").text(round(subtotal, 2));
                        removeCartItem(item.cartId);
                        cartCount--;
                        $(`#cartItem${item.cartId}`).remove();
                        delete items[item.cartId];

                        processedOrders.push(result);
                        localStorage.setItem("processedOrders", processedOrders);
                    } else if (result == -1) {
                        failedOrder = true;
                        subtotal -= $(`#totalCost${item.cartId}`).text() ? round(parseFloat($(`#totalCost${item.cartId}`).text()), 2) : 0;
                        $("#cartSubtotal").text(round(subtotal, 2));
                        removeCartItem(item.cartId);
                        cartCount--;
                        $(`#cartItem${item.cartId}`).remove();
                        delete items[item.cartId];

                    } else {
                        failedOrder = true;
                        item.stock = -result + 1;
                        $(`#amount${item.cartId}`).val(-result + 1);
                        subtotal -= $(`#totalCost${item.cartId}`).text() ? round(parseFloat($(`#totalCost${item.cartId}`).text()), 2) : 0;
                        $(`#totalCost${item.cartId}`).text((round(item.cost * (-result + 1000), 2) + ""));
                        subtotal += $(`#totalCost${item.cartId}`).text() ? round(parseFloat($(`#totalCost${item.cartId}`).text()), 2) : 0;
                        $("#cartSubtotal").text(round(subtotal, 2));
                    }

                    $("#cartCount").text(cartCount);
                });
            });

            if (failedOrder && cartCount > 0) {
                alert("The remaining items could not be processed due to your request being greater than stock.  Items with zero stock have been removed from your cart.");
                return;
            } else if (failedOrder) {
                alert("Items with zero stock have been removed from your cart, and will not be processed! Sorry for the inconvenience.");
            }

            localStorage.removeItem("processedOrders");

            /*
            $.ajax({
                url: "/checkout",
                type: "GET",
                data: {
                    processOrders: processedOrders
                },
                success: function (result, status) {
                    return result;
                },
            });
            */

            console.log("clicked");
        });

        function updateCartItem(cartId, amount) {
            return $.ajax({
                url: "/cart/update",
                type: "PUT",
                data: {
                    amount: amount,
                    cartId: cartId
                },
                success: function (result, status) {
                    return result;
                },
            });
        }

        function makeOrder(productId, amount) {
            console.log(productId, amount);
            return $.ajax({
                url: "/order/add",
                type: "POST",
                data: {
                    amount: amount,
                    productId: productId
                },
                success: function (result, status) {
                    return result;
                },
            });
        }

        function removeCartItem(cartId) {
            return $.ajax({
                url: "/cart/remove",
                type: "DELETE",
                data: {
                    cartId: cartId
                },
                success: function (result, status) {
                    return result;
                },
            });
        }

        // try to update data before page is left.  Warn them that all data may not be saved.
        $(window).bind('beforeunload', function () {
            if (nochanges) {
                return "";
            }

            Object.keys(items).forEach(function (key) {
                let item = items[key];
                updateCartItem(item.cartId, $(`#amount${item.cartId}`).val());
            });

            return "Are you sure you want to leave? Data may be lost!";
        });
    </script>
</div>
