/* landing page styles */

/* styles for page heading (nav bar, search bar, and cart, login buttons) */
.top-nav-bar {
  height: 57px;
  top: 0;
  position: sticky;
  background: #fff;
  margin-bottom: 20px;
  border-bottom: 3px solid #2196f3;
  z-index: 2;
}

.logo {
  height: 40px;
  margin: 5px 10px;
}

.logo:hover {
  cursor: pointer;
}

.form-control {
  margin-top: 9px;
  margin-left: 30px;
  border: 1px solid #2196f3 !important;
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  box-shadow: none !important;
}

.input-group-text {
  background: #2196f3 !important;
  border: 1px solid #2196f3 !important;
  margin: 8.5px 10px 3px 0 !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  cursor: pointer;
}

.search-box {
  display: inline-flex;
  width: 60%;
}

.fa-search,
.fa-user-circle {
  color: #fff;
}

.menu-bar {
  width: 40%;
  height: 57px;
  float: right;
}

.menu-bar ul {
  display: inline-flex;
  float: right;
}

.menu-bar ul li {
  border-left: 1px solid #fff;
  list-style: none;
  padding: 15px 35px;
  text-align: center;
  background-color: #2196f3;
  cursor: pointer;
}

.menu-bar ul li:hover {
  background: #0b7dda;
}

.menu-bar ul li a {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.fa-shopping-basket {
  margin-right: 5px;
}

@media only screen and (max-width: 980px) {
  .top-nav-bar {
    height: 118px;
    border-bottom: 0;
  }

  .search-box {
    width: 100%;
  }

  .menu-bar {
    width: 100%;
  }

  .menu-bar ul {
    margin: 10px 0;
    width: 100%;
  }

  .menu-bar ul li {
    height: 57px;
    width: 100%;
  }
}

/* styles for side menu (product categories) */
.side-menu {
  height: 80%;
  width: 15%;
  font-size: 14px;
  float: left;
  z-index: 2;
  background-color: #ddd;
}

.side-menu ul {
  margin-left: 10px;
}

.side-menu ul li {
  list-style-type: none;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
}

.side-menu ul li:hover {
  color: #2196f3;
}

.side-menu ul li ul {
  display: none;
  z-index: 10;
  top: 77px;
}

.side-menu ul li:hover ul {
  display: block;
  height: 400px;
  margin-left: 10%;
  padding: 0 100px 10px 10px;
  position: fixed;
  background: #ececec;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0, 5);
}

.fa-angle-right {
  margin-top: 4px;
  margin-right: 8px;
  float: right;
}

#menu-btn,
#close-btn {
  font-size: 30px;
  margin: 10px;
  color: #2196f3;
  display: none;
}

@media only screen and (max-width: 980px) {
  .side-menu {
    width: 34%;
    z-index: 20;
    top: 133px;
    position: fixed;
    font-size: 12px;
    display: none;
  }

  .side-menu ul li ul {
    top: 133px;
  }

  .side-menu ul li:hover ul {
    margin-left: 31%;
  }

  #menu-btn {
    display: block;
  }
}

/* styles for product displays */
.slider {
  width: 85%;
  margin-left: 15%;
  padding: 0 10px;
}

.carousel {
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0, 5);
}

.carousel-indicators {
  z-index: 1 !important;
}

@media only screen and (max-width: 980px) {
  .slider {
    width: 100%;
    margin-left: 0;
  }
}

.featured {
  padding: 20px;
}
.title-box {
  background: #2196f3;
  color: #fff;
  width: 300px;
  padding: 5px;
  height: 40px;
  margin-bottom: 30px;
  display: flex;
}

.title-box h2 {
  font-size: 24px;
}

.product-top img {
  width: 100%;
  transition: 1s;
}

.product-top img:hover {
  transform: scale(1.1);
}

.overlay-right {
  display: block;
  opacity: 0;
  position: absolute;
  top: 10%;
  margin-left: 0;
  width: 70px;
}

.overlay-right .fa {
  cursor: pointer;
  background-color: #fff;
  color: #000;
  height: 35px;
  width: 35px;
  font-size: 20px;
  padding: 7px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.overlay-right .btn-secondary {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

.product-top:hover .overlay-right {
  opacity: 1;
  margin-left: 5%;
  transition: 0.5s;
}

.product-bottom h3 {
  font-size: 20px;
  font-weight: bold;
}

.product-bottom h5 {
  font-size: 15px;
  padding-bottom: 10px;
}

/* styles for footer */

.footer {
  margin-top: 50px;
  background: black;
  color: white;
}

.footer h1 {
  font-size: 15px;
  margin: 25px 0;
}

.footer p {
  font-size: 12px;
}

/* styles for back to top button */
#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background: #2196f3;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#back-to-top-btn:hover {
  background: #0b7dda;
}

/* ---------- Styling for Login Modal --------- */
.modal-title-container {
  width: 100%;
  display: flex;
}

.modal-header {
  flex-direction: column !important;
}

.modal-footer {
  justify-content: space-between;
}

#username,
#password {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#login-button {
  background-color: #2196f3;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

#login-button:hover {
  background-color: #0b7dda;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.cancelbtn:hover {
  opacity: 0.8;
}

span.new-here {
  float: right;
  padding-top: 16px;
}

#username,
#password {
  padding-left: 2.375rem;
}

#username-icon,
#password-icon {
  position: absolute;
  z-index: 2;
  padding-top: 15px;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
