body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* styles for page heading (nav bar, search bar, and cart, login buttons) */
.top-nav-bar {
  height: 57px;
  top: 0;
  position: sticky;
  background: #fff;
  margin-bottom: 20px;
  border-bottom: 3px solid #2196f3;
  z-index: 2;
}

.logo {
  height: 40px;
  margin: 5px 10px;
}

.logo:hover {
  cursor: pointer;
}

.form-control {
  margin-top: 9px;
  margin-left: 30px;
  border: 1px solid #2196f3 !important;
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  box-shadow: none !important;
}

.input-group-text {
  background: #2196f3 !important;
  border: 1px solid #2196f3 !important;
  margin: 8.5px 10px 3px 0 !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  cursor: pointer;
}

.input-group-text:hover {
  background: #0b7dda !important;
  border: 1px solid #0b7dda !important;
  cursor: pointer;
}

.search-box {
  display: inline-flex;
  width: 60%;
}

.fa-search,
.fa-user-circle {
  color: #fff;
}

.menu-bar {
  width: 40%;
  height: 57px;
  float: right;
}

.menu {
  display: inline-flex;
  float: right;
}

.option {
  border-left: 1px solid #fff;
  list-style: none;
  padding: 15px 35px;
  text-align: center;
  background-color: #2196f3;
  cursor: pointer;
}

.option:hover {
  background: #0b7dda;
}

.tag {
  font-size: 16px;
  font-weight: bold;
  color: #fff !important;
  text-decoration: none !important;
}

.a {
  font-size: 16px;
  color: #000000 !important;
  text-decoration: none !important;
}

.dropdown-menu li:hover {
  background-color: #ddd;
}

.fa-shopping-basket {
  margin-right: 5px;
}

.dropdown-menu {
  margin-top: 20px !important;
}

@media only screen and (max-width: 980px) {
  .top-nav-bar {
    height: 118px;
    border-bottom: 0;
  }

  .search-box {
    width: 100%;
  }

  .menu-bar {
    width: 100%;
  }

  .menu {
    margin: 10px 0;
    width: 100%;
  }

  .option {
    height: 57px;
    width: 100%;
  }
}

/* styles for footer */
.footer {
  margin-top: 50px;
  background: black;
  color: white;
  margin-bottom: 0px;
}

.footer h1 {
  font-size: 15px;
  margin: 25px 0;
}

.footer p {
  font-size: 12px;
}

/* styles for back to top button */
#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background: #2196f3;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#back-to-top-btn:hover {
  background: #0b7dda;
}

/* styles for modals */
.modal-title-container {
  width: 100%;
  display: flex;
}

.modal-header {
  flex-direction: column !important;
}

.modal-footer {
  justify-content: space-between;
}

.modal_input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding-left: 2.375rem;
}

#login-button,
#create-account-button {
  background-color: #2196f3;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

#login-button:hover,
#create-account-button:hover {
  background-color: #0b7dda;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.cancelbtn:hover {
  opacity: 0.8;
}

span.new-here {
  float: right;
  padding-top: 16px;
}

.icon {
  position: absolute;
  z-index: 2;
  padding-top: 15px;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

/* styles for product container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  padding-bottom: 450px;
}

/* styles for columns */
.left-column {
  width: 65%;
  position: relative;
}

.right-column {
  width: 35%;
  margin-top: 60px;
}

/* styles left column */
.left-column img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

/* styles for product description */
.product-description {
  border-bottom: 1px solid #e1e8ee;
  margin-bottom: 20px;
}

.product-description span {
  font-size: 12px;
  color: #2196f3;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484d;
  letter-spacing: -2px;
}

.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939e;
  line-height: 24px;
}

/* styles for product price */
.product-price {
  display: flex;
  align-items: center;
}

.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474d;
  margin-right: 20px;
}

.cart-bttn {
  display: inline-block;
  background: #2196f3;
  border-radius: 6px;
  font-size: 16px;
  color: #ffffff !important;
  text-decoration: none !important;
  padding: 12px 30px;
  cursor: pointer;
}

.cart-bttn:hover {
  background: #0b7dda;
}

@media (max-width: 980px) {
  .container {
    flex-direction: column;
    margin-top: 60px;
  }

  .left-column,
  .right-column {
    width: 100%;
  }

  .left-column img {
    width: 300px;
    right: 0;
    top: -65px;
    left: initial;
  }
}

@media (max-width: 535px) {
  .left-column img {
    width: 220px;
    top: -85px;
  }
}
